@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Bebas Neue", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
}

.link-text {
    color: #f6f6f6;
}

    .link-text:hover {
        color: #ffce00;
    }
